.loginPage{
    background-color: #939bed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 120%;
}
.loginForm{
    background-color: rgba(255,255,255, .1) ;
    
    color: white;
}

.employee-img{
    border-radius: 50%;
    height: 40px;
    width: 40px;
}